inf23tig01/TP_TI_23-24-main/Website_inf23tig01/CalendarioF1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="calendarioF1">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="evento" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nome" type="xs:string"/>
                            <xs:element name="data" type="xs:string"/>
                            <xs:element name="detalhesDaPista" type="xs:string"/>
                            <xs:element name="detalhes">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="detalhe" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="tipo" type="xs:string"/>
                                                    <xs:element name="data" type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
