XSD_LAB/XSD_LAB01/juicers.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.juicers.org/"
    xmlns:tns="http://www.juicers.org/"
    elementFormDefault="qualified">


    <element name="name" type="string" />
    <element name="image" type="string" />
    <element name="description" type="string" />
    <element name="warranty" type="string"  />
    <element name="weight" type="string"  />
    <element name="cost" type="string"  />
    <element name="retailer" type="string" />

    <element name="juicer">
        <complexType>
            <sequence>
                <element ref="tns:name"  />
                <element ref="tns:image"  />
                <element ref="tns:description"  />
                <element ref="tns:warranty"  minOccurs="0" />
                <element ref="tns:weight"  minOccurs="0" />
                <element ref="tns:cost"  maxOccurs="unbounded" />
                <element ref="tns:retailer"  />

            </sequence>
        </complexType>
    </element>

    <element name="juicers">
        <complexType>
            <sequence>
                <element ref="tns:juicer" minOccurs="0" maxOccurs="unbounded" />
            </sequence>
        </complexType>
    </element>

</schema>